/*Tablets & smaller*/
@media(max-width:800px)
{
    #header-home{
        height: 30rem;
    }
    .header-content{
        padding-top: 5rem;
    }
    .lead{
        margin-bottom: 0.2rem;
    }
}
/*Smart-phones*/
@media(max-width:500px){
    #header-home{
        height: 13rem;
        border-bottom: 2px solid var(--main-color);
    }
    .header-content h1,.header-content p{
        display: none;
    }

    .header-content a{
        padding: 0.2rem 0.5rem;
        margin-top: 0rem;
        text-align: left;
        background: transparent;
        color: whitesmoke;
    }
    
    .header-content a:hover{
        color: palegreen;
        background: transparent;
    }

    .menu-wrap .hamburger{
        right: 0;
        top: 0;
    }

    /*stack grid*/
    #home-a .specials,
    #home-b .stats,
    #home-c .hobby, .items{
        grid-template-columns: 1fr;
    }

    #home-a .specials div{
        border-bottom: 1px solid var(--light-color);
        padding-bottom: 1rem;
    }
    #home-a .specials div:last-child{
        border: none;
        padding-bottom: 0;
    }
    .stats div{
        padding: 2rem 0 1rem 0;
    }

    /*About*/
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'aw1'
        'aw2'
        'aw3';
    }

    /*contact*/
    .contact-info{
        grid-template-columns: 1fr;
    }

    .contact-info div{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #555;
    }

    .contact-info div:last-child{
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #contact-b h1{
        font-size: 2rem;
    }


    /*footer*/
    #main-footer{
        height: 7rem;
    }
    .footer-content{
        flex-direction: column;
        padding: 1rem;
        height: 5rem;
    }
}
/*landscape
@media(max-width:580px){
    .header-content{
        padding-top: 3rem;
    }
}*/


